.navbar-default {
	
	background-color:#8DE3C5;
	
}


.navbar-default .navbar-nav>li>a {
	margin:2px;
	/*border: 3px solid red; */
	border-radius:8px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #6BAD96;
    color: #FFC0CB;
}


#footer.container-fluid {
	position:relative;
	/* margin-top:50px; */
	background-color: #8DE3C5;
}

#ads.container-fluid{
	position: relative;
    margin-top: 50px;
}

.img-thumbnail {
	position:relative;
	max-height:400px;
	max-width: 300px;
	padding:20px;
	border: 5px solid #6BAD96;
	border-radius: 3px;
}

.well-lg {
	padding:100px;
}



